<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <appSettings>
    <add key="Language" value="en" />
    <add key="ScreenshotFolder" value="Screenshots" />
    <add key="RecordingFolder" value="Recordings" />
    <add key="LogFolder" value="Logs" />
    <add key="JpegQuality" value="85" />
    <add key="H264Crf" value="23" />
    <add key="H264Preset" value="veryfast" />
    <add key="MaxRecordingFps" value="30" />
    <add key="PreferredWidth" value="1280" />
    <add key="PreferredHeight" value="720" />
    <add key="SegmentMinutes" value="0" />
    <add key="FfmpegRelativePath" value="Tools\ffmpeg.exe" />
  </appSettings>
</configuration>
